.action-btn {
  width: 5em;
}

.label-col {
  width: 80%;
}

.actions-col {
  width: 20%;
}

.foot-bar {
  padding-top: 1em;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #f2f2f2
}

table th {
  background-color: #f2f2f2;
}

div.actions-container {
  text-align: center;
}

[data-code] {
  word-wrap: break-word;
}

.button-bar {
  padding-bottom: 5px;
}

.CodeMirror {
  height: 200px !important;
}

body {
  padding: 5px;
}

#snippetsContainer {
  padding-top: 2.5em;
}

.btn-container {
  padding-bottom: 0.5em;
}