.action-btn {
  width: 5em;
}

.label-col {
  width: 70%;
}

.actions-col {
  width: 30%;
}

.foot-bar {
  padding-top: 1em;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #f2f2f2
}

table th {
  background-color: #f2f2f2;
}

div.actions-container {
  text-align: center;
}

[data-code] {
  word-wrap: break-word;
}

.button-bar {
  padding-bottom: 5px;
}

.CodeMirror {
  height: 200px !important;
}

body {
  padding: 5px;
}

#snippetsContainer {
  padding-top: 2.5em;
}

.btn-container {
  padding-bottom: 0.5em;
}

#toast {
  visibility: hidden;
  margin-left: -125px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}