.action-btn {
    width: 5em;    
}

.url-input, .url-col {
    width: 98%;
}

.foot-bar {
    padding-top: 1em;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }